
.product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: all 0.7s ease 0s;
  border: 1px solid grey;
  border-radius: 6px;
}
a:hover{
  color: blue;
}
a:focus{
  color: #88c000;
}
a{
  text-decoration: none;
}
.product-grid:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.15),10px 10px rgba(0,0,0,0.05); }
.product-grid .product-image{
  overflow: hidden;
  position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 90%;
  height: 100%;
  padding-top: 10%;
}
.product-grid .product-image .pic-1{ transition: all 200ms ease 0s; }
.product-grid .product-image:hover .pic-1{ opacity: 0; }
.product-grid .product-image .pic-2{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 3s;
}
.product-grid .product-image:hover .pic-2{
  opacity: 1;
  transform: scale(1.5);
}
.product-grid .product-hot-label{
  color: #fff;
  background: #222;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 7px 12px;
  position: absolute;
  top: 0;
  left: 0;
}
.product-grid .product-links{
  background: #f1f1f1;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: scaleX(2);
  position: absolute;
  bottom: -50px;
  left: 0;
  transition: all 0.5s ease-in-out 0s;
}
.product-grid:hover .product-links{
  opacity: 1;
  transform: scaleX(1);
  bottom: 0;
}
.product-grid .product-links li{
  margin: 0 -2px;
  display: inline-block;
}
.product-grid .product-links li a{
  color: #444;
  font-size: 16px;
  line-height: 41px;
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  transition: all .2s ease-out;
}
.product-grid .product-links li a:hover{
  color: #fff;
  background-color: green;
}
.product-grid .product-links li a:before,
.product-grid .product-links li a:after{
  content: attr(data-tip);
  color: #fff;
  background-color: #222;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 10px;
  white-space: nowrap;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -40px;
  transition: all 0.3s;
}
.product-grid .product-links li a:after{
  content: '';
  height: 15px;
  width: 15px;
  transform: translateX(-50%) rotate(45deg);
  top: -25px;
  z-index: -1;
}
.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after{
  display: block;
}
.product-grid .product-content{
  background: #fff;
  padding: 15px 12px;
  position: relative;
}
.product-grid .add-to-cart{
  color: #88c000;
  font-size: 15px;
  font-weight: 600;
  transform: translateX(-50%);
  position: absolute;
  top: 13px;
  left: 50%;
  opacity: 0;
  transition: all 1s ease 0s;
}
.product-grid:hover .add-to-cart{ opacity: 1; }
.product-grid .add-to-cart i.fas{
  font-size: 14px;
  margin: 0 5px 0 0;
}
.product-grid .title{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}
.product-grid .title a{ color: #444; }
.product-grid:hover .title{ opacity: 0; }
.product-grid .rating{
  color: #1c1a19;
  font-size: 12px;
  padding: 0;
  margin: 0 0 11px;
  list-style: none;
}
.product-grid .price{
  color: #88c000;
  font-size: 16px;
  font-weight: 700;
}
img{
  height:150px;
  width:100%;
}
.image{
  height: 278px;
}

div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card{
  transition:0.5s;
  cursor:pointer;
}
.card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
.dropdown-1{
  display: none;
}
.dropdown-2{
  display: none;
}
a:active{
  color: green;
}
.search-bar{
  width: 20rem;
}
.main-logo{
  height: 3rem;
  width: 8rem;
}
.sectionbox{
  display: block;
}
@media screen and (max-width: 990px){
  .sectionbox{
    display: none;
  }
  .card{
    border: 2px solid black;
  }
  .card:hover{
    border: 1px solid green;
  }
  .product-grid{ margin: 0 0 30px; }
  
  .item{
    display: none;
  }

  .dropdown-1{
    display: block;
  }
  .dropdown-2{
    display: block;
  }
  .section-links{
       display: none;
  }
  .search-bar{
    width: 16rem;
  }
  .main-logo{
    height: 3rem;
    width: 6rem;
  }
}
@media screen and (max-width: 550px){
  .footer-right{
    padding-left: 30px;
  }
  .sectionbox{
    display: none;
  }
 section{
    width: 100%;
    height: auto;
  }
  .item{
    display: none;
  }

  .dropdown-1{
    display: block;
  }
  .dropdown-2{
    display: block;
  }
  .profile-icon{
    position: absolute;
    top: 1%;
    right: 2%;
  }

  .section-links{
       display: none;
  }
  /* .search-bar{
    width: 10rem;
    align-self: self-end;
  } */
  /* .search-bar{
    display: none;
  } */
   .logo-main{
    position: absolute;
    top: 2%;
    left: 2%;
   }
  .main-logo{
    height: 3rem;
    width: 7rem;
  }
  .container{
    width: 90%;
  }
  .search-area{
    margin: 3%;
    margin-top: 27%;
    width: 15rem;
  }
  .search-button{
    margin-left: 4rem;
  }
  .search-bar{
    width: 10.5rem;
  }
 footer{
     width:100%;
  }
}